.ad-div {
    align-items: center;
    margin-top: 70px;
    text-align: center;
    
}

form {
    background-color: #2af931;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
  }
  
  h2 {
    color: #ea0862;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bolder;
    margin-top: 10px;
    font-size: 24;
    color: red;
  }
  
  form input,
  form textarea , form select{
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form input[type="submit"]:hover {
    background-color: #0056b3;
  }

.home{
  margin-left: 10px;
  margin-top: 80px;
}

.a{
  border: 0.5px solid;
  border-style: none;
  text-decoration: none;
  background-color: rgb(51, 121, 43);
  border-radius: none;
  width: 20%;
  font-size: 17px;
  color: rgb(255, 255, 255);
  
  /* margin-left: 20px; */
}